{% extends "base.html" %}
{% block title %}Consent Builder- {{ user.studyname }}{% endblock %}
{% block page_content %}
<link rel=stylesheet href="{{ url_for('static', filename='CNMCstyle.css') }}" />
<div>
  <h3 align="center"><b>Parental Permission and Authorization Document</b></h3>
  <h6 align="center">Assent Document for Child Particpants (7-11 years old)</h6>
  <h6 align="center">Consent Document (18 years old)</h6>
  <br>
  <h4 align="center"><b>Children's National Medical Center</b></h4>
</div>
<div>
  <h4 align="left"><b>Study Title:       {{ study.studyname }}</b></h4>
  <br>
  <h4 align="left"><b>Principal Investigator:    Murray Pollack, MD</b></h4>
  <br>
  <h4 align="left"><b>Source of Support:  National Institute of Child Health and Human Development (NICHD)</b></h4>
  <br>
  <b>BACKGROUND</b>
  <p>{% filter markdown %}{{ study.background }}{% endfilter %}</p>
  <br>
  <b>Study Procedures</b>
  <p>{% filter markdown %}{{ study.study_procedure }}{% endfilter %}</p>
  <br>
  <b> Risks and Benefits </b>
  <p>{% filter markdown %}{{ study.risksbenefits }}{% endfilter %}</p>
  <br>
  <b>AUTHORIZATION FOR USE OF YOUR PROTECTED HEALTH INFORMATION </b>
  <p>{% filter markdown %}{{ study.PHI }}{% endfilter %}</p>
  <br>
<b>CONSENT:</b>
<p>
I confirm that I have read this consent and authorization document and
have had the opportunity to ask questions.<br>
I will be given a signed copy of the consent and authorization form to keep.
I agree to participate in this research study and authorize you to use and
disclose health information about me for this study, as you have explained
in this document.
</p><br>
<br>
<br>
________________________<br>
Participant’s Name<br>
<br>
<br>
________________________		&nbsp;&nbsp;&nbsp;	____________<br>
Participant’s Signature		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      Date<br>
<br>
<br>
__________________________________<br>
Name of Person Obtaining Authorization and Consent<br>
<br>
<br>
__________________________________	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   ____________<br>
Signature of Person Obtaining Authorization and Consent		&nbsp;&nbsp;&nbsp;
&nbsp;Date<br>

<br>
<br>
<br>

<h6>{{ study.studyname }}</h6>
</div>
<div>
<p>
  <nav align="center"><a class="btn btn-default" href="{{ url_for('main.study_pdf', studyname=current_user.studyname) }}"target="_blank">Get PDF</a></nav>
</p>

<p align="center">
    {% if study == current_user %}
    <a class="btn btn-default" href="{{ url_for('.edit_consent') }}">Edit Consent</a>
    {% endif %}
</p>
</div>
{% endblock %}
