{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Form Builder{% endblock %}

{% block page_content %}
<div class="page-header">
  {% if current_user.is_authenticated %}
    <h3 align="center">Hello {{ user.username }}! Let's work on your consent documents!</h3>
  {% else %}
    <h3 align="center">Hello! Login and let's get to work on your consent!</h3>
    {% endif %}
</div>
<div align="center">



</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
